.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  /* height: 120vw; */
  background-color: var(--light-purple);
  border-radius: 20px;
  padding: 2rem;

  h1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-bottom: 2rem;
  }

  .wines {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}
