<div class="container">
  <img src="assets/kort_hjem.png" width="80%" />
  <div class="text-area">
    <h1>Planlægning</h1>
    <div class="list">
      <span><strong>Hvor: </strong>Obstruphøjen 40b</span>
      <span><strong>Hvornår: </strong>Lørdag d. 13. september</span>
      <span><strong>Overnatning: </strong>Inkluderet, men valgfri</span>
      <span><strong>Hvad: </strong>Champagne*</span>
    </div>
    <div class="wines">
      <span>* Pierre Moncuit, Millésime Grand Cru Extra Brut, 2012</span>
      &
      <span>Louis Brochet, Réserve Pérpétuelle 10</span>
    </div>
  </div>
</div>
